* {
    padding:0;
    margin:0;
}
html {
    scroll-behavior: smooth;
}
.navbar {
    background-color: #F48484;
    box-shadow: 0 3px 3px grey;  
}
header {
    height:100px;
}
header h1 {
    display: inline-block;
    padding:16px 24px;
}
header h1 a {
    transition: .3s;
    color: white;
    font-family: 'Candara';
    font-size: 30px;
}
header h1 a:hover {
    color: #e2725b
}
a {
    text-decoration: none;
}
#login{
    height: 73vh;
    background-color: #FFF6F5;
    margin-top: -30px;
}
.form p {
    font-family: 'Gill sans MT';
    font-size: 15px;
    color: white;
    margin-bottom: 5px;
}
.form form {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    gap: 10px;
    margin-top: 35px;
    flex-direction: column;
    padding: 20px;
    background-color: #F48484;
    border-radius: 20px;
    width: 350px;
    height: 390px;
    align-items: center;
    left: calc(50% - 300px/2);
    box-shadow: 0px 1px 2px 0px #2B3032;
    border: 3px solid #f1f1f1;
    font-family: 'Gill sans MT';
}
input[type=text], input[type=password] {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}
.form input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    z-index: 0;
    text-align: center;
}
.form select {
    width: 100%;
    height: 40px;
    border: none;
    margin-top: 5px;
    border-radius: 10px;
    z-index: 0;
}
.imgcontainer {
    text-align: center;
    margin-top: 20px;
    margin: 24px 0 12px 0;
}
img.avatar {
    width: 40px;
    margin-top: -50px;
}
.container {
    padding: 10px;
    margin-top: -30px;
}
label{
	color: #fff;
    font-size: 12px;
	text-transform: uppercase;
}
.form form .btn-4 button {
    background-color: #ffffff;
    border-radius: 50px;
    width: 100px;
    height: 35px;
    margin-top: 15px;
    margin-left: 90px;
    font-family: 'Gill sans MT';
    border-color: #2B3032;
    font-size: 15px;
    border: 1px solid #fff;
    box-shadow: 0px 1px 2px 0px #2B3032;
}
.form form .btn-4 button a {
    color: #2B3032;
}
.form form .btn-4 button a:hover {
    color: #F48484;
}
@media(max-width:1024px){
    .form {
        padding-top: 20px;
    }
    .form form{
        width:70%;
        margin: 30px 20px;
        padding: 20px;
        width: 70%;
        height: 60%;
    }
    .container {
        padding: 0px;
        margin-top: -30px;
        width: 100%;
    }
    .form form .btn-4{
        width: 100px;
        height: 35px;
        margin: 0px 0px 0px -30px;
    }   
}
.footer-1{
    background: #F48484;
    margin-top: 0px;
    padding: 10px 0px;
    font-family: 'Gill sans MT';
    text-align:center;
}   
.footer-1 .footer-wrapper{
    width:100%;
    padding:0.6% 0%;
    color: white;
    font-size: 15px;
}   
.footer-1 .footer-wrapper a{
    color:white;
    transition:0.5s;
}  
.footer-1 .footer-wrapper a:hover{
    color: #2B3032;
}
.footer-1 .footer-wrapper a i{
    font-size: 30px;
    margin:0% 1%;
}